body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: rgb(242, 2, 242);
    background-color: rgb(12, 3, 12);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px red(31, 10, 10, 0.1);
}

legend{
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}