
body{
        margin: 0;
        padding: 0;
        background-color: black;
}
header{
        display: flex;
        min-width: 100%;
        min-height: 30vh;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgb(196, 17, 187), rgb(192, 16, 136));
}
header h1{
        color: white;
        font-size: 3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
ol{
    color: red;
    font-size: 2rem;
}

            fieldset{
                border: 1px solid;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px red(31, 10, 10, 0.1);
            }

<<<<<<< HEAD
legend{
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

li:hover{
    transform: scale(1.05);
    cursor:pointer;
}

li{
    transition: 300ms ease-in;
}

footer {
    width: 100%;
    background-color: rgb(8, 2, 11);
    min-height: 300px;
    color: white;
}
=======
           legend{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            }
>>>>>>> b69be94cff8117bcf37e12bc6941659448716418
